In [39]:
#Insights
##weekends has less number of views/Traffic.
#overall total no of views are increasing from August to October 
# In the middle of september traffic started decreasing but again increased in october 
#conversion is less in october compare to Auguste & September
#for converted ones, Min Employee Size : 23 & Max Employee Size:466
#for converted ones , they are going for 
#postgrey ---> redshift
# mongo  ----> redshift

#######Blogs reponsible for conversion
#https://abc.com/blog/postgresql-to-redshift-etl/
#https://abc.com/blog/mongodb-to-redshift-etl/
#https://hevo.io/


#Some were started free trial but nor converted into customer they were
#requesting solution -- Early Exploration or In A  from mongo	redshift

In [ ]:
import pandas as pd

In [ ]:
#df = pd.read_excel("C:\\Users\\ac36345\\Downloads\\Pattern_Analysis_Round_-_Data_Sheet.xlsx",engine='xlrd')

In [30]:
df1 = pd.read_csv("C:\\Users\\ac36345\\Downloads\\test_data1.csv", encoding='cp1252')

In [40]:
df2 = pd.read_csv("C:\\Users\\ac36345\\Downloads\\test_data2.csv",encoding='cp1252')

In [42]:
df1.describe()

,Email,Current Status,Type,Date,Started Free Trial?,Decision Maker,demo_date,Phone Number,Designation,Employee Size,...,City/State,Country,Keyword if any,Initial Referrer,Referrer URL,Acquisition Source,When do you need to Solution,Sources,Destinations,message
count,71,71,71,71,71,71,37,71,69,61,...,66,69,17,66,68,69,40,41,40,2
unique,71,11,5,71,2,3,36,1,50,52,...,54,18,10,23,26,9,4,32,14,2
top,41@customer-leads.com,No Response - Email,create-account,Thu Aug 30 2018 09:11:34 GMT+0800 (Philippine ...,No,Yes,"Friday, September 14, 2018, 12:00:00 AM",##############################################...,-,1,...,San Francisco,United States,stitch data,https://www.google.com/,https://abc.com/,Blog - Redshift - X to Y,Immediately,mongo,redshift,Requirement of Data replication tool
freq,1,28,39,1,55,45,2,71,11,4,...,5,33,5,29,14,23,21,8,16,1

In [43]:
df2.describe()
#weekends has less number of views, mean value is less
#overall total no of views are increasing from August to October 
# in mid september traffic started decreasing but again increased in october

,8/1/2018 0:00,8/2/2018 0:00,8/3/2018 0:00,8/4/2018 0:00,8/5/2018 0:00,8/6/2018 0:00,8/7/2018 0:00,8/8/2018 0:00,8/9/2018 0:00,8/10/2018 0:00,...,10/23/2018 0:00,10/24/2018 0:00,10/25/2018 0:00,10/26/2018 0:00,10/27/2018 0:00,10/28/2018 0:00,10/29/2018 0:00,10/30/2018 0:00,10/31/2018 0:00,Total Views
count,39.000000,39.000000,39.000000,39.000000,39.000000,39.000000,39.000000,39.000000,39.000000,39.000000,...,39.000000,39.000000,39.00000,39.000000,39.000000,39.000000,39.000000,39.000000,39.000000,39.000000
mean,3.538462,2.589744,3.025641,0.820513,0.974359,3.461538,3.871795,3.025641,3.000000,2.871795,...,4.717949,4.076923,3.74359,3.384615,0.820513,2.435897,4.948718,5.256410,4.230769,247.153846
std,7.809731,5.265168,6.213259,1.861971,1.979994,7.010692,7.867921,6.535277,6.593458,5.978820,...,10.328674,8.380380,8.83390,7.336338,1.804553,4.967234,10.667088,12.698359,10.314684,494.232182
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
75%,1.500000,2.000000,4.000000,0.000000,1.000000,2.000000,3.500000,2.000000,1.000000,2.500000,...,0.000000,1.500000,1.00000,1.000000,0.000000,2.000000,1.500000,2.500000,1.000000,187.000000
max,32.000000,17.000000,25.000000,8.000000,8.000000,25.000000,30.000000,26.000000,27.000000,26.000000,...,38.000000,29.000000,35.00000,26.000000,6.000000,20.000000,40.000000,54.000000,48.000000,1741.000000

In [50]:
#top views/Traffic
df2.sort_values(by=['Total Views'],ascending=False).head(10)

,Blog Url,8/1/2018 0:00,8/2/2018 0:00,8/3/2018 0:00,8/4/2018 0:00,8/5/2018 0:00,8/6/2018 0:00,8/7/2018 0:00,8/8/2018 0:00,8/9/2018 0:00,...,10/23/2018 0:00,10/24/2018 0:00,10/25/2018 0:00,10/26/2018 0:00,10/27/2018 0:00,10/28/2018 0:00,10/29/2018 0:00,10/30/2018 0:00,10/31/2018 0:00,Total Views
0,https://abc.com/blog/redshift-vacuum-and-analyze/,32,15,25,5,4,25,30,26,27,...,28,19,17,24,5,14,40,31,17,1741
1,https://abc.com/blog/amazon-redshift-pros-and-...,25,15,19,1,1,20,19,17,16,...,24,24,23,19,6,20,30,20,19,1471
2,https://abc.com/blog/redshift-distribution-keys/,13,15,10,1,3,16,25,18,16,...,38,29,33,22,5,14,34,44,37,1370
3,https://abc.com/blog/postgresql-to-redshift-etl/,25,16,16,8,7,23,20,13,13,...,24,22,16,11,5,9,21,29,15,1329
4,https://abc.com/blog/redshift-sort-keys-choosi...,8,17,18,5,8,15,21,20,22,...,34,26,35,26,5,14,28,54,48,1311
5,https://abc.com/blog/mysql-to-redshift-etl/,5,4,5,2,1,9,5,4,6,...,15,10,6,14,0,6,14,5,5,590
6,https://abc.com/blog/redshift-architecture/,5,5,7,3,5,12,5,5,5,...,9,11,8,2,3,6,9,9,7,540
7,https://abc.com/blog/druid-vs-redshift-data-wa...,12,6,5,0,3,7,7,4,3,...,8,12,4,7,2,3,10,3,9,511
8,https://abc.com/blog/redshift-vs-bigquery/,10,3,5,5,2,4,9,7,6,...,0,3,2,4,1,1,1,0,1,324
9,https://abc.com/blog/mongodb-to-redshift-etl/,1,2,5,2,2,3,3,4,1,...,4,2,2,3,0,0,4,4,6,312

In [63]:
set(df1.loc[df1['Type']=='request-quote']['Referrer URL'])

{'https://abc.com/blog/looker-vs-periscope-vs-c...',
 'https://abc.com/blog/postgresql-to-redshift-etl/',
 'https://abc.com/blog/schema-mapper-hevo/',
 'https://stitch.abc.io/comparison'}

In [62]:
set(df1.loc[df1['Type']=='request-demo']['Referrer URL'])

{'https://abc.com/',
 'https://abc.com/blog/amazon-redshift-pros-and-cons/',
 'https://abc.com/blog/mongodb-to-redshift-etl/',
 'https://abc.com/blog/postgresql-to-redshift-etl/',
 'https://abc.com/integrations',
 nan}

In [61]:
set(df1.loc[df1['Type']=='free-trial']['Referrer URL'])

{'https://abc.com/?ref=producthunt',
 'https://abc.com/blog/kafka-exactly-once/',
 'https://abc.com/blog/looker-vs-periscope-vs-c...',
 'https://abc.com/blog/looker-vs-periscope-vs-chartio/',
 'https://abc.com/blog/mysql-to-redshift-etl/',
 'https://abc.com/blog/postgresql-to-redshift-etl/',
 'https://abc.com/blog/redshift-vs-bigquery/',
 'https://abc.com/integrations',
 'https://stitch.abc.io/comparison',
 'https://try.abc.com/mysql-etl-free-trial'}

In [ ]:
#######Blogs reponsible for conversion
#https://abc.com/blog/postgresql-to-redshift-etl/
#https://abc.com/blog/mongodb-to-redshift-etl/
#https://hevo.io/

In [83]:
df1.loc[df1['Started Free Trial?'] == 'Yes']
#Some were started free trial but nor converted into customer they were
#requesting solution -- Early Exploration or In A  from mongo	redshift

,Email,Current Status,Type,Date,Started Free Trial?,Decision Maker,demo_date,Phone Number,Designation,Employee Size,...,City/State,Country,Keyword if any,Initial Referrer,Referrer URL,Acquisition Source,When do you need to Solution,Sources,Destinations,message
4,5@customer-leads.com,Not Interested,free-trial,"Tuesday, October 9, 2018, 1:49:27 PM",Yes,No,"Tuesday, October 9, 2018, 2:00:00 PM",##############################################...,Business Intelligence Analyst,45,...,Kyiv,Ukraine,NaN,https://www.google.com.ua/,https://abc.com/blog/redshift-vs-bigquery/,Blog - Redshift - Generic,Immediately,google_analytics,bigquery,NaN
12,13@customer-leads.com,Not Interested,create-account,"Friday, October 12, 2018, 12:34:23 PM",Yes,Yes,"Monday, October 15, 2018, 2:00:00 PM",##############################################...,Consultant,NaN,...,Richmond,United States,stitch data,https://www.google.com/,https://stitch.abc.io/comparison,Ads - ETL Tools,Early Exploration,"mysql,rest,google_analytics",snowflake,NaN
14,15@customer-leads.com,Not Interested,create-account,"Monday, October 15, 2018, 9:12:44 PM",Yes,Yes,"Wednesday, October 17, 2018, 5:00:00 PM",##############################################...,-,NaN,...,Martinez,United States,NaN,https://www.google.com/,https://abc.com/blog/mongodb-to-redshift-etl/,Blog - Redshift - X to Y,Early Exploration,mongo,bigquery,NaN
16,17@customer-leads.com,Free Trial Activated,create-account,"Wednesday, October 17, 2018, 10:17:21 PM",Yes,Yes,"Monday, October 22, 2018, 4:00:00 PM",##############################################...,Director of Engineering,30,...,Huntington Beach,United States,NaN,https://www.google.com/,https://abc.com/blog/postgresql-to-redshift-etl/,Blog - Redshift - X to Y,Early Exploration,"mysql,postgres,ror,google_drive,salesforce,int...","redshift,bigquery",NaN
17,18@customer-leads.com,Deferred for Future,create-account,"Thursday, October 18, 2018, 11:07:53 AM",Yes,No,"Friday, October 19, 2018, 2:00:00 PM",##############################################...,Engineering,NaN,...,Burnham,United Kingdom,NaN,https://www.google.co.uk/,https://abc.com/blog/mongodb-to-redshift-etl/,Blog - Redshift - X to Y,Immediately,mongo,bigquery,NaN
19,20@customer-leads.com,Free Trial Activated,create-account,"Friday, October 19, 2018, 1:19:36 PM",Yes,No,NaN,##############################################...,Software Developer,15,...,Hvidovre,Denmark,NaN,https://www.google.dk/,https://abc.com/blog/redshift-sort-keys-choosi...,Blog - Redshift - Generic,In A Month,"aurora,redshift,rds",redshift,NaN
23,24@customer-leads.com,Free Trial Activated,create-account,"Tuesday, October 23, 2018, 1:22:54 PM",Yes,No,"Thursday, October 25, 2018, 11:00:00 PM",##############################################...,-,NaN,...,Daytona Beach,United States,NaN,https://www.upwork.com/leaving?ref=https://abc...,https://abc.com/blog/mysql-to-redshift-etl/,Blog - Redshift - X to Y,Early Exploration,"postgres,elasticsearch,cassandra",redshift,NaN
40,41@customer-leads.com,Converted,request-quote,Tue Aug 07 2018 20:59:08 GMT-0700 (PDT),Yes,Yes,NaN,##############################################...,Data Science & Analytics,99,...,San Francisco,United States,NaN,https://www.google.com/,https://abc.com/blog/postgresql-to-redshift-etl/,Blog - Redshift - X to Y,NaN,NaN,NaN,NaN
53,54@customer-leads.com,Converted,free-trial,Tue Aug 28 2018 11:39:36 GMT-0400 (Eastern Day...,Yes,Yes,"Wednesday, August 29, 2018, 11:00:00 AM",##############################################...,Senior Software Engineer,34,...,Alpharetta,United States,NaN,https://www.google.com/,https://abc.com/blog/postgresql-to-redshift-etl/,Blog - Redshift - X to Y,This Quarter,postgres,redshift,NaN
55,56@customer-leads.com,Converted,create-account,Thu Aug 30 2018 09:11:34 GMT+0800 (Philippine ...,Yes,Yes,30 Aug 7.30 PM,##############################################...,CTO,23,...,NaN,Philippines,NaN,https://www.google.com.ph/,https://abc.com/blog/mongodb-to-redshift-etl/,Blog - Redshift - X to Y,Immediately,mongo,redshift,NaN
56,57@customer-leads.com,Not Interested,request-demo,Sat Sep 08 2018 11:11:39 GMT+0530 (India Stand...,Yes,Yes,"Wednesday, September 12, 2018, 12:00:00 AM",##############################################...,Cofounder,17,...,Delhi,India,NaN,https://www.google.co.in/,https://abc.com/integrations,Direct - Home,Early Exploration,mongo,redshift,NaN
58,59@customer-leads.com,Not Interested,create-account,Tue Sep 11 2018 15:04:41 GMT-0400 (GMT-04:00),Yes,Yes,"Thursday, September 13, 2018, 12:00:00 AM",##############################################...,System Admin,2360,...,Montreal,Canada,alooma,https://www.google.com/,https://alooma.abc.io/comparison,Ads - ETL Tools,In A Month,mongo,redshift,NaN
59,60@customer-leads.com,Not Interested,create-account,Tue Sep 11 2018 14:44:50 GMT-0500 (Central Day...,Yes,Yes,"Friday, September 14, 2018, 12:00:00 AM",##############################################...,Data Scientist,41,...,Chicago,United States,NaN,https://www.google.com/,https://abc.com/blog/mongodb-to-redshift-etl/,Blog - Redshift - X to Y,Early Exploration,mongo,redshift,NaN
61,62@customer-leads.com,Converted,request-demo,Thu Sep 13 2018 15:06:54 GMT+0530 (India Stand...,Yes,Yes,"Friday, September 14, 2018, 12:00:00 AM",##############################################...,Director of Technology,466,...,Bangalore,India,NaN,https://www.google.co.in/,https://abc.com/blog/mongodb-to-redshift-etl/,Blog - Redshift - X to Y,NaN,NaN,NaN,NaN
65,66@customer-leads.com,Converted,create-account,"Monday, September 24, 2018, 9:21:11 PM",Yes,Yes,"Wednesday, September 26, 2018, 2:00:00 PM",##############################################...,Senior Analyst,144,...,Bangalore,India,NaN,https://www.google.co.in/,https://abc.com/blog/mongodb-to-redshift-etl/,Blog - Redshift - X to Y,Immediately,mongo,redshift,NaN
68,69@customer-leads.com,Converted,contact-us,"Tuesday, September 25, 2018, 6:57:23 PM",Yes,Yes,NaN,##############################################...,Data Science Lead,230,...,Oakland,California,NaN,https://www.quora.com/What-is-the-best-way-to-...,https://hevo.io/,Quora,NaN,NaN,NaN,NaN

In [64]:
df1.loc[df1['Current Status']=='Converted']
#conversion is less in october compare to Auguste & September
#for converted ones, Min Employee Size : 23 & Max Employee Size:466
#for converted ones , they are going for 
#postgrey ---> redshift
# mongo  ----> redshift

,Email,Current Status,Type,Date,Started Free Trial?,Decision Maker,demo_date,Phone Number,Designation,Employee Size,...,City/State,Country,Keyword if any,Initial Referrer,Referrer URL,Acquisition Source,When do you need to Solution,Sources,Destinations,message
40,41@customer-leads.com,Converted,request-quote,Tue Aug 07 2018 20:59:08 GMT-0700 (PDT),Yes,Yes,NaN,##############################################...,Data Science & Analytics,99,...,San Francisco,United States,NaN,https://www.google.com/,https://abc.com/blog/postgresql-to-redshift-etl/,Blog - Redshift - X to Y,NaN,NaN,NaN,NaN
53,54@customer-leads.com,Converted,free-trial,Tue Aug 28 2018 11:39:36 GMT-0400 (Eastern Day...,Yes,Yes,"Wednesday, August 29, 2018, 11:00:00 AM",##############################################...,Senior Software Engineer,34,...,Alpharetta,United States,NaN,https://www.google.com/,https://abc.com/blog/postgresql-to-redshift-etl/,Blog - Redshift - X to Y,This Quarter,postgres,redshift,NaN
55,56@customer-leads.com,Converted,create-account,Thu Aug 30 2018 09:11:34 GMT+0800 (Philippine ...,Yes,Yes,30 Aug 7.30 PM,##############################################...,CTO,23,...,NaN,Philippines,NaN,https://www.google.com.ph/,https://abc.com/blog/mongodb-to-redshift-etl/,Blog - Redshift - X to Y,Immediately,mongo,redshift,NaN
61,62@customer-leads.com,Converted,request-demo,Thu Sep 13 2018 15:06:54 GMT+0530 (India Stand...,Yes,Yes,"Friday, September 14, 2018, 12:00:00 AM",##############################################...,Director of Technology,466,...,Bangalore,India,NaN,https://www.google.co.in/,https://abc.com/blog/mongodb-to-redshift-etl/,Blog - Redshift - X to Y,NaN,NaN,NaN,NaN
65,66@customer-leads.com,Converted,create-account,"Monday, September 24, 2018, 9:21:11 PM",Yes,Yes,"Wednesday, September 26, 2018, 2:00:00 PM",##############################################...,Senior Analyst,144,...,Bangalore,India,NaN,https://www.google.co.in/,https://abc.com/blog/mongodb-to-redshift-etl/,Blog - Redshift - X to Y,Immediately,mongo,redshift,NaN
68,69@customer-leads.com,Converted,contact-us,"Tuesday, September 25, 2018, 6:57:23 PM",Yes,Yes,NaN,##############################################...,Data Science Lead,230,...,Oakland,California,NaN,https://www.quora.com/What-is-the-best-way-to-...,https://hevo.io/,Quora,NaN,NaN,NaN,NaN